.authentication {
    @extend %box;

    margin: 0 1rem;

    @include respond-min($bp-extract-large) {
        margin: 10vh auto auto;
        width: 75vw;
        max-width: 800px;
    }
}

.authentication__help {
    margin-bottom: 1rem
}
