@mixin respond-min($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html,
body,
.root,
.root__container {
    width: 100%;
    height: 100%;
    display: flex;
}

.root__container {
    flex-direction: column;
}

$global-border-radius: 5px;
$global-box-padding: 1rem;

$bp-extract-large: 400px;
$bp-suggestion-2-up: 400px;
$bp-suggestion-4-up: 710px;
$bp-help-show: 700px;
$bp-miyagi-show: 686px;
$bp-inline-forms: 368px;

%centered {
    margin: 0 1rem 2.5rem;

    @include respond-min($bp-extract-large) {
        margin: 5vh auto 5rem;
        width: 75vw;
        max-width: 800px;
    }
}

%box {
    background-color: rgba(white, .85);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid $color-subtle;
    border-radius: $global-border-radius;
    margin: 10vh auto auto;
    padding: $global-box-padding;
    position: relative;
    z-index: 1;
}

