$color-background: linear-gradient(to top, #FFFFFF, #ECE9E6);
$color-highlight: #4990E2;
$color-copy-base: #4A4A4A;
$color-subtle: mix(white, black, 85%);
$color-success: #36A64F;
$color-error: #D0011B;
