$extract-highlight: .25rem;

.extract {
    @extend %box;

    height: auto;
    margin: 0;
    width: 100%;

    @include respond-min($bp-extract-large) {
        margin: auto;
    }
}

.extract__help {
    margin-bottom: 1.5rem;
}

.extract__container {
    &:before {
        bottom: $global-box-padding;
        background-color: $color-highlight;
        border-radius: $global-border-radius;
        content: '';
        left: $global-box-padding;
        position: absolute;
        top: $global-box-padding;
        width: $extract-highlight;
    }
}

.extract__text {
    max-height: 30vh;
    overflow-y: scroll;
    position: relative;
    padding-left: $global-box-padding;
}
