$extract-padding: 1rem;
$extract-highlight: .25rem;

.extract {
    background-color: rgba(white, .85);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid $color-subtle;
    border-radius: $global-border-radius;
    height: auto;
    margin: auto;
    padding: $extract-padding;
    position: relative;
    width: 100%;
    z-index: 1;

    &:before {
        bottom: $extract-padding;
        background-color: $color-highlight;
        border-radius: $global-border-radius;
        content: '';
        left: $extract-padding;
        position: absolute;
        top: $extract-padding;
        width: $extract-highlight;
    }
}

.extract__container {
    max-height: 50vh;
    overflow-y: scroll;
    padding-left: $extract-padding + ($extract-highlight / 2);
}
