$extract-highlight: .25rem;

.extract {
    @extend %box;

    height: auto;
    margin: auto;
    width: 100%;

    &:before {
        bottom: $global-box-padding;
        background-color: $color-highlight;
        border-radius: $global-border-radius;
        content: '';
        left: $global-box-padding;
        position: absolute;
        top: $global-box-padding;
        width: $extract-highlight;
    }
}

.extract__container {
    max-height: 50vh;
    overflow-y: scroll;
    padding-left: $global-box-padding + ($extract-highlight / 2);
}
