$extract-highlight: .25rem;

.extract {
    @extend %box;

    height: auto;
    margin: 0;
    width: 100%;

    @include respond-min($bp-extract-large) {
        margin: auto;
    }
}

.extract__text {
    max-height: 50vh;
    overflow-y: scroll;
    position: relative;
    padding-left: $global-box-padding;

    &:before {
        bottom: 0;
        background-color: $color-highlight;
        border-radius: $global-border-radius;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: $extract-highlight;
    }
}
