.input {
    border: 1px solid $color-subtle;
    border-radius: $global-border-radius;
    padding: .5rem;
}

%placeholder {
    @extend %type;
}

::-webkit-input-placeholder {
    @extend %placeholder;
}
::-moz-placeholder {
    @extend %placeholder;
}
:-ms-input-placeholder {
    @extend %placeholder;
}
:-moz-placeholder {
    @extend %placeholder;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    @include respond-min($bp-inline-forms) {
        flex-direction: row;
    }

    .input {
        margin-bottom: .75rem;

        @include respond-min($bp-inline-forms) {
            margin-bottom: 0;
            margin-right: .75rem;
        }
    }
}
