@keyframes help-in {
    0% { transform: translateY(200%); }
    100% { transform: translateY(0); }
}

.help {
    display: none;

    @include respond-min($bp-help-show) {
        animation: help-in 1000ms 500ms cubic-bezier(0.13, 0.92, 0.74, 1) forwards;
        bottom: 1rem;
        display: block;
        font-size: .85rem;
        left: 1rem;
        position: fixed;
        transform: translateY(200%);
    }
}

.help__heading {
    font-weight: bold;
    text-transform: uppercase;
}

.help__shortcuts {
    align-items: center;
    display: flex;
}

.help__shortcut {
    align-items: center;
    display: flex;
}

.help__action {
    margin: auto .5rem;
}

.help__icon {
    border: 1px solid $color-subtle;
    border-radius: $global-border-radius;
    display: flex;
    font-size: .7rem;
    font-weight: bold;
    height: 1.25rem;
    width: 1.25rem;
}

.help__code {
    margin: auto;
}
