.larusso {
    @extend %centered;

    .textarea {
        @extend %box;

        border: 1px solid $color-highlight;
        height: auto;
        margin: 0 0 .75rem;
        resize: none;
        width: 100%;

        @include respond-min($bp-extract-large) {
            margin: auto auto 1rem;
        }
    }
}

.larusso-meta {
    border-bottom: 1px solid $color-subtle;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;

    p {
        margin-bottom: 0;
    }
}
