.mr-miyagi {
    bottom: 0;
    position: fixed;
    right: 0;
    width: 45vh;
    opacity: .25;
    max-width: 225px;
    z-index: -1;
    transition: opacity 1000ms;

    @include respond-min($bp-miyagi-show) {
        opacity: 1;
    }
}

.mr-miyagi__image {
    display: block;
    width: 100%;
}

.miyagi {
    @extend %centered;

    display: flex;
    flex-direction: column;
}
