.options {
    margin: .5rem 0 1rem;
}

.option__label {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    padding-left: .5rem;
}

.option__input {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
