.suggestions {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto auto 0;
    position: relative;
    z-index: 1;
    width: 100%;

    @include respond-min($bp-suggestion-2-up) {

    }

    @include respond-min($bp-suggestion-4-up) {
        width: auto;
    }
}

.suggestions__suggestion {
    flex-basis: 100%;
    margin-bottom: .5rem;

    @include respond-min($bp-suggestion-4-up) {
        flex-basis: auto;
        margin-right: 1rem;
    }
}
