.topbar {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.topbar__logo {
    &,
    h1,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        color: $color-copy-base;
        font-size: 1rem;
        margin: 0;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.topbar__user {
    color: $color-subtle;
}
